<div class="flex flex-wrap min-h-screen p-2 max-md:flex-col"
  [@staggerAnimation]
>
  <div [@fadeIn]
    class="flex w-1/2 max-md:w-full justify-center rounded-r-3xl rounded-b-3xl"
  >
    <img class="h-full object-cover rounded-xl" src="assets/icon3.png" alt="" />
  </div>
  <div [@fadeIn] class="flex-1 flex flex-col justify-center items-center gap-10">
    <h1 class="text-6xl font-bold text-indigo-500">404</h1>
    <h1 class="text-2xl text-indigo-500 text-center">
      Sorry we can not find the requested page.
    </h1>
    <h1 class="text-2xl font-bold text-indigo-500">You Failed.</h1>
    <button
      routerLink="/"
      type="button"
      class="text-white bg-indigo-500 hover:bg-indigo-500/80 focus:ring-4 focus:bg-indigo-500/50 font-medium rounded-lg text-sm px-9 py-2.5 text-center inline-flex items-center mr-2 mb-2"
    >
      Go Home
    </button>
  </div>
</div>
