<div class="flex flex-wrap justify-between items-baseline">
  <h1 class="text-4xl flex-1 font-mono font-bold text-white">pizza is seepy</h1>

  <div
    class="flex gap-1 text-indigo-600 text-sm font-medium bg-white rounded-full w-max h-max px-1 py-1"
    [@toggleAnimation]= "buttonService.isToggled ? 'visible' : 'hidden'"
    >
    <!-- Dynamic Navbar -->
    <h1
      *ngFor="let item of navbarItems; let i = index"
      (click)="setActiveNavBarItem(i)"
      class="h-5/6 rounded-full px-4 py-1 cursor-pointer"
      [class]="
        activeNavBarItem == i
          ? 'bg-indigo-300 transition duration-300 ease-in '
          : 'bg-white transition duration-300 ease-out'
      "
    >
      {{ item }}
    </h1>
  </div>
  <h1 

  class="text-4xl flex-1 font-mono font-bold text-end text-white">gojoooo</h1>
</div>
