<div
  class="flex flex-wrap md:justify-between items-baseline max-md:flex-col max-md:justify-center max-md:items-center relative"
>
  <!-- <h1 class="text-4xl flex-1 font-mono font-bold text-white">Ice Cream</h1> -->
  <h1 class="flex-1"></h1>

  <div
    class="flex gap-1 text-indigo-600 max-sm:text-xs max-sm:gap-0.5 text-sm font-medium bg-white rounded-full w-max h-max px-1 py-1"
    [@toggleAnimation]="buttonService.isToggled ? 'visible' : 'hidden'"
  >
    <!-- Dynamic Navbar -->
    <h1
      *ngFor="let item of navbarItems; let i = index"
      (click)="setActiveNavBarItem(i)"
      class="h-5/6 rounded-full px-4 py-1 cursor-pointer max-w-xs:px-2"
      [class]="
        activeNavBarItem == i
          ? 'bg-indigo-300 transition duration-300 ease-in '
          : 'bg-white transition duration-300 ease-out'
      "
    >
      {{ item }}
    </h1>
  </div>
  <!-- <div class="w-16 h-16"> -->
  <!-- </div> -->
  <h1
    class="text-4xl flex-1 font-mono font-bold text-end text-white max-md:hidden"
  >
    <!-- <img
      class="w-10 h-10 object-cover relative right-1"
      src="assets/star.png"
      alt=""
    /> -->
  </h1>
  
</div>
