<div
  class="gradient flex flex-wrap justify-around items-center 
  bg-indigo-100
  hover:bg-indigo-500
  hover:text-white rounded-xl mb-5 py-2 transition duration-300 ease-out"
  (mouseenter)="toggleHover()"
  (mouseleave)="toggleHover()"
  [@fadeIn]
>
  <img
    class="w-16 h-16 object-cover bg-indigo-200 rounded-full"
    src="{{ item.iceCream.imgurl }}"
    alt=""
  />
  <h1 class="w-28 truncate">{{ item.iceCream.name }}</h1>
  <div class="flex items-center gap-1">
    <button
      class="w-6 h-6 border-2 bg-transparent rounded-full text-sm "
      [class]="!isHovered ? 'border-indigo-500 text-indigo-600' : 'border-white text-white'"
      (click)="subtract_from_cart_child(item)"
    >
      -
    </button>
    <h1>{{ item.quantity }}</h1>
    <button
      class="w-6 h-6 border-2 bg-transparent rounded-full text-sm "
      [class]="!isHovered ? 'border-indigo-500 text-indigo-600' : 'border-white text-white'"
      (click)="add_to_cart_child(item)"
    >
      +
    </button>
  </div>

  <h1>{{ item.iceCream.price | currency }}</h1>

  <div class="w-8 h-8 cursor-pointer">
    <img
      class="object-cover text-white"
      [src]="!isHovered ? 'assets/close.svg' : 'assets/closewhite.svg'"
      alt=""
      (click)="remove_from_cart_child(item)"
    />
  </div>
</div>
