div {
  color: #4c5cbf;
  font-family: "Inter", sans-serif;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    animation-delay: 1.5s;

  }
  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

.delay-1500 {
  animation-delay: 0.5s;
}
.filter-container {
  opacity: 0;
}