<div class="relative overflow-hidden"
  [@fadeInWith]
>
  <!-- Ice cream main -->
  <div class="flex justify-around max-md:justify-center">
    <div
      class="flex flex-col items-center relative"
      [@toggleAnimation]="buttonService.isToggled ? 'visible' : 'hidden'"
    >
      <h1 class="text-7xl max-md:text-4xl text-center text-color translate-y-8 p-2">
        <!-- toggle button -->
        <app-toggle-btn
          class="absolute top-24 translate-x-80 mt-2 ml-4"
          [class]="screenWidth! >= 950 ? 'visible' : 'hidden'"
          [isToggled]="buttonService.isToggled"
          (click)="buttonService.isToggled = !buttonService.isToggled"
        >
        </app-toggle-btn>
        Delight Your <br />
        Senses
      </h1>
      <div class="w-full max-sm:h-64 flex-justify-center mt-3 mb-2">
        <img
          class="sm:w-1/2 w-full h-full object-cover  mx-auto"
          [@imageAnimation]="iceCreamService.selectedIceCream.imgurl"
          [src]="iceCreamService.selectedIceCream.imgurl"
          alt=""
        />
      </div>

      <div
        class="bottom-sheet mx-auto rounded-tr-full pr-5 pl-5 rounded-tl-full flex flex-col items-center"
      >
        <h1
          class="text-2xl text-center font-extralight
           text-color pt-8 pb-3 pr-3 pl-3 max-sm:flex max-sm:flex-col"
        >
          Discover Your
          <span
            class="bottom-sheet-higlighted-text bg-indigo-600 pl-2 pr-2 rounded-full max-md:mb-1"
          >
            Perfect
          </span>
          <br class="max-md:hidden"/>
          <span
            class="bottom-sheet-higlighted-text bg-indigo-600 pl-2 pr-2 rounded-full"
          >
            Ice Cream</span
          >

          <span
            class="border-solid border-indigo-600 rounded-full pl-1 pr-1 m-1 border-y-2 border-x-2"
            >Indulgence</span
          >
        </h1>

        <div class="flex justify-evenly  relative gap-12 h-56 ml-8 mr-8">
          <div
            cdkDragBoundary=".bottom-sheet"
            class="transition z-0 absolute left-20 -top-5 duration-500 ease-out rounded-full w-20 h-20 bg-indigo-600 cursor-grab flex justify-center items-center"
            cdkDrag
            (cdkDragStarted)="onDragStarted()"
            (cdkDragEnded)="onDragEnded()"
          >
            <img
              [src]="iceCreamService.selectedIceCream.iconurl"
              class="object-cover w-full h-full rounded-full"
              alt=""
            />
            <!-- <h1 class="text-white text-2xl font-semibold">Drag</h1> -->
          </div>

          <div *ngFor="let item of patternIceCreams; let i = index">
            <div
              class="col-span-1 h-full bg-white rounded-full p-2 pb-9 w-20"
              [class]="getClasses(i)"
            >
              <div class="w-16 h-16 relative overflow-hidden rounded-full">
                <div
                  (mouseover)="onMouseEnter(i)"
                  (mouseout)="onMouseOut()"
                  (click)="iceCreamService.selectedIceCream = item"
                  class="absolute inset-0 transform transition-transform hover:scale-125"
                >
                  <img
                    [src]="item.iconurl"
                    alt=""
                    class="w-full h-full object-contain scale-150 cursor-pointer"
                  />
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- Sidebar that is shown when button is clicked -->
  <!-- its value will be fetched from data service -->
  <div
    class="overflow-auto scroll-handle max-h-screen sidebar absolute right-20 top-10 w-72 bg-transparent flex flex-col gap-5 transition duration-200 ease-in-out max-md:hidden"
    [@sidebarAnimation]="buttonService.isToggled ? 'visible' : 'hidden'"
  >
    <app-sidebar-container
      *ngFor="let item of iceCreamService.iceCreamData; let i = index"
      [iceCreamData]="item"
      
    >
    </app-sidebar-container>
  </div>
</div>
