.text-color {
  color: #4c5cbf;
  font-family: 'Inter', sans-serif;
font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.bg-color{
  background-color: #4c5cbf;
}

.border-color{
  border-color: #4c5cbf;
} 